.App {
  text-align: center;
  transition: 0.5s ease-in-out;
}

.paginationBttns {
  width: 80%;
  height: 2em;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  transition: 0.5s ease-in-out;
}

.paginationBttns a {
  padding: 10px 25px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2cb5c1;
  color: #2cb5c1;
  cursor: pointer;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2cb5c1;
}

.paginationActive a {
  color: white;
  background-color: #2cb5c1;
}

.paginationDisabled a {
  color: black;
  background-color: rgb(212, 211, 211);
  border: 1px solid rgb(142, 142, 142);
}

.paginationDisabled a:hover {
  color: black;
  background-color: rgb(212, 211, 211);
  border: 1px solid rgb(142, 142, 142);
}
